#line-chart,
#pie-chart{
  width: 267px;
  margin: 0 auto;
}
.rui-chart-mobile-legend {
	text-align: center;
	margin-top: 10px;
}
.rui-chart-legend-item {
	display: inline-block;
	margin: 0 8px;
	.rui-chart-legend-label {
		font-size: 0.8em;
	}
}

.chart .highcharts-title{
  font-size: 0.8em;
}