header {
	background-color: #00beb3;
	color: white;
	padding: 10px 0;
	margin-bottom: 40px;
	.logo {
		font-size: 1.5em;
	}
	.user {
		float: right;
		margin-top: -30px;
		a:first-child {
			margin-right: 20px;
		}
		a {
			color: white;
			text-decoration: none;
		}
	}
}
