h1 {
  font-size: 2em;
}

.team-container {
  width: 325px;
  left: 50%;
  margin-left: -200px;
  position: relative;
  margin-top: 100px;

  .team {
	float: right;
	width: 170px;
  }
  
  .submit {
	margin-top: 15px;
	width: 100px;
	margin-left: 112px;

	input {
	  width: 100%;
	}
  }
}
