.metric {
	width: 30.333%;
	min-width: 314px;
	margin-right: 3%;
	float: left;
	.left-part {
		flex: 4;
		min-width: 268px;
	}
	.metric-title {
		border: 1px solid $border-gray;
		margin: 0;
		border-bottom: 0;
		text-align: center;
		padding: 6px 0;
	}
	.graph-header {
		padding: 6px;
	}
	.filters {
		float: right;
		margin-right: 6px;
		span {
			color: white;
			cursor: pointer;
			background-color: #333;
			border-right: 1px solid #c8c9c7;
			padding: 2px 6px;
			&:last-child {
				border-right: none;
			}
		}
	}

	.graph-body {
		text-align: center;
		padding: 10px 0;
	}
	.graph-body .content {
		width: 180px;
		height: 180px;
		margin: 0 auto;
		border-radius: 100%;
	}
	.number-wrapper {
		margin-top: 55px;		
	}
	.number {
		line-height: 1em;
		font-size: 3em;
	}
	.unit {
		color: #666;
	}
	.metric-content {
		display: flex;
		border: 1px solid $border-gray;
	}
  .metric-desc {
	  border-top: 1px solid #c3c8ce;
	  margin-top: 4px;
	  padding: 10px 5px;
	  font-size: 14px;
	}

	.actions {
		text-align: center;
		flex: 1;
		border-left: 1px solid $border-gray;
		font-size: 1.2em;
		span {
			display: block;
			font-size: 2em;
			padding: 10px 0;
			border-bottom: 1px solid $border-gray;
			transition: all 0.3s;
			&:last-child {
				border-bottom: none;
			}
		}

	}
}

@mixin metric-theme($theme-color) {
	.number {
		color: $theme-color;
	}
	.filters span.active {
		background-color: $theme-color;
	}
	.graph-body .content {
		border: 3px solid $theme-color;
	}
	.actions {
		span {
			&:hover {
				color: $theme-color;
			}
			&.active {
				color: $theme-color;
			}
		}
	}	
}

.mint-theme{
	@include metric-theme($mint-dark);
}
.yellow-theme{
	@include metric-theme($yellow-dark);
}
.orange-theme{
	@include metric-theme($orange-dark);
}

