@-webkit-keyframes my {
  0% { left: 50%; width: 0px; height: 0px};
100% { left: 0%;  width: 180px; height: 180px};
}
@-moz-keyframes my {
  0% { left: 50%; width: 0px; height: 0px};
100% { left: 0%; width: 180px; height: 180px};
}
@keyframes my {
  0% { left: 50%; width: 0px; height: 0px};
100% { left: 0%; width: 180px; height: 180px};
}

.metric {
  width: 22%;
  max-width: 340px;
  min-width: 314px;
  height: 424px;
  margin: 15px;
  float: left;

  .left-part {
    flex: 4;
    min-width: 275px;
    height: 364px;
  }

  .metric-title {
    border: 1px solid $border-gray;
    margin: 0;
    border-bottom: 0;
    text-align: center;
    padding: 6px 0;
    font-size: 30px;
  }

  .graph-header {
    padding: 6px;
    height: 23px;
  }

  .schedule-mark {
    float: left;
    margin: 2px 0;
    border: 1px solid;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 16px;
    display: block;
  }

  .frame-range {
    display: block;
    float: left;
    margin: 2px 5px;
  }

  .filters {
    float: right;
    margin-right: 6px;
    span {
      color: white;
      cursor: pointer;
      background-color: #333;
      border-right: 1px solid #c8c9c7;
      padding: 2px 6px;
      &:last-child {
        border-right: none;
      }
    }
  }

  .graph-body {
    text-align: center;
    height: 329px;
    overflow-y: auto;
  }

  .graph-body .content {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-top: 35px;
    position: relative;
    .animation {
      position: absolute;
      top: -3px;
      left: -3px;
      height: 180px;
      width: 180px;
      border-radius: 100%;
      -webkit-animation: my 1s linear;
      -moz-animation: my 1s linear;
      animation: my 1s linear;
    }
  }

  .number {
    line-height: 1em;
    font-size: 3em;
  }
  .unit {
    color: #666;
  }
  .metric-value {
    padding-top: 55px;
  }
  .metric-content {
    height: 364px;
    display: flex;
    border: 1px solid $border-gray;
  }
  .metric-desc {
    border-top: 1px solid #c3c8ce;
    margin-top: 25px;
    padding: 10px 5px;
    font-size: 14px;
  }

  .click-me {
    width: 100%;
    line-height: 346px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
  }

  .actions {
    text-align: center;
    flex: 1;
    border-left: 1px solid $border-gray;
    font-size: 1.2em;
    span {
      display: block;
      font-size: 1.5em;
      padding: 15px 0;
      border-bottom: 1px solid $border-gray;
      transition: all 0.3s;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .mm-icon {
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
  }

  .records-table {
    width: 100%;
    margin: 0;

    thead tr {
      border-bottom: 1px solid $border-gray;
    }

    th {
      text-align: center;
      font-weight: bold;
    }

    tbody {
      font-size: 12px;
    }

    tbody tr:nth-child(2n+1) {
      background-color: #E7E7E7;
    }
  }

  .metric-form {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .confirm-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px;
    text-align: center;

    button {
      margin: 0 5px;
    }
  }
}

@mixin metric-theme($theme-color) {
  &.metric {
    box-shadow: $theme-color 0 0 4px 1px;
  }
  .number {
    color: $theme-color;
  }
  .filters span.active {
    background-color: $theme-color;
  }
  .graph-body .content .animation {
    border: 3px solid $theme-color;
  }
  .actions {
    span {
      &:hover {
        color: $theme-color;
      }
      &.active {
        color: $theme-color;
      }
    }
  }
  .records-table tbody tr:nth-child(2n+1) {
    background-color: rgba($theme-color, .2);
  }
}

.mint-theme {
  @include metric-theme($mint-dark);
}

.yellow-theme {
  @include metric-theme($yellow-dark);
}

.orange-theme {
  @include metric-theme($orange-dark);
}

.blue-theme {
  @include metric-theme($blue-light);
}
