$border-gray: #c3c8ce;
$mint-dark: #00c694;

@import "chart";
@import "header";
@import "metric";
@import "icons";

body {
	padding-top: 0;
	min-height: 500px;
}
p {
	margin: 0;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.sm-font {
	font-size: 0.8em;
}

