$border-gray: #c3c8ce;
$mint-dark: #00c694;
$yellow-dark: #ffb200;
$orange-dark: #ff6000;
$blue-light: #4a4aff;

@import "chart";
@import "header";
@import "metric";
@import "icons";
@import "home";


body {
	padding-top: 0;
	min-height: 500px;
}
p {
	margin: 0;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.sm-font {
	font-size: 0.8em;
}

