extends layout

block content
	header
		div.container
			div.logo
				span.rui-icon.rui-icon-home 
				span Measure Metrics
	div.banner
		div.container
			h2 #{team.replace(/\+/g, ' ')}

	metric-dashboard
