doctype html

html
	head
		title Measurement Metrics
		link(rel='stylesheet', href='http://s1.rui.au.reastatic.net/rui-1.7.2/css/rui-all.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.team-container
			h1 Measurement Metrics
			form(action="/dashboard" method="POST")
				div
					label Your team name
					input.team(name="team")
				div.submit
					input(type="submit" value="Go")
