extends layout

block content
	header
		div.container
			div.logo
				span.rui-icon.rui-icon-home 
				span Measure Metrics
			div.user
				a Log in
				a Sign up
	div.banner
		div.container
			h2 Media and Developer			

	include ./templates/metric.jade
