doctype html
html
  head
    script(src='http://s1.rui.au.reastatic.net/rui-1.7.2/js/rui-all.js')
    script(src='vendor/angularjs/angular.min.js')
    script(src='vendor/highcharts/highcharts.js')
    script(src='vendor/moment/moment.js')
    script(src='vendor/jquery/jquery.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://s1.rui.au.reastatic.net/rui-1.7.2/css/rui-all.min.css')
  body
    block content