doctype html
html('id'='ng-app', 'ng-app'='metric')
  head
    script(type='text/javascript').
      var TEAM = '#{team}';

    script(src='vendor/jquery/jquery.js')
    script(src='vendor/highcharts/highcharts.js')
    script(src='vendor/angularjs/angular.js')
    script(src='vendor/moment/moment.js')
    script(src='javascripts/libs/rui-charts-all.js')

    script(src='/javascripts/helpers/color-gen.js')
    script(src='/javascripts/metric-app.js')

    script(src='/javascripts/services/helpers-service.js')
    script(src='/javascripts/services/metric-create-service.js')
    script(src='/javascripts/services/metric-record-service.js')
    script(src='/javascripts/services/metric-settings-service.js')
    script(src='/javascripts/services/metric-data-service.js')

    script(src='/javascripts/directives/new-metric-panel-directive.js')
    script(src='/javascripts/directives/schedule-metric-form-directive.js')
    script(src='/javascripts/directives/metric-create-form-directive.js')
    script(src='/javascripts/directives/metric-record-form-directive.js')
    script(src='/javascripts/directives/metric-chart-general-directive.js')
    script(src='/javascripts/directives/metric-chart-trends-directive.js')
    script(src='/javascripts/directives/metric-chart-pie-directive.js')
    script(src='/javascripts/directives/metric-record-list-directive.js')
    script(src='/javascripts/directives/metric-panel-directive.js')
    script(src='/javascripts/directives/metric-dashboard-directive.js')

    script(src='/javascripts/controllers/metric-create-controller.js')
    script(src='/javascripts/controllers/metric-record-controller.js')
    script(src='/javascripts/controllers/metric-chart-general-controller.js')
    script(src='/javascripts/controllers/metric-chart-trends-controller.js')
    script(src='/javascripts/controllers/metric-chart-pie-controller.js')
    script(src='/javascripts/controllers/metric-record-list-controller.js')
    script(src='/javascripts/controllers/metric-panel-controller.js')
    script(src='/javascripts/controllers/metric-dashboard-controller.js')

    title= title
    link(rel='stylesheet', href='http://s1.rui.au.reastatic.net/rui-1.7.2/css/rui-all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
