doctype html
html('id'='ng-app', 'ng-app'='metric')
  head
    script(src='vendor/jquery/jquery.js')
    script(src='vendor/highcharts/highcharts.js')
    script(src='http://s1.rui.au.reastatic.net/rui-1.7.2/js/rui-all.js')
    script(src='javascripts/libs/rui-charts-all.js')
    script(src='vendor/angularjs/angular.js')
    script(src='vendor/moment/moment.js')
    script(src='/javascripts/models/story.js')
    script(src='/javascripts/metric-app.js')
    script(src='/javascripts/services/metric-settings-service.js')
    script(src='/javascripts/services/metric-record-service.js')
    script(src='/javascripts/services/metric-create-service.js')
    script(src='/javascripts/services/api-service.js')
    script(src='/javascripts/services/chart-data-service.js')
    script(src='/javascripts/directives/line-chart-directive.js')
    script(src='/javascripts/directives/normal-metric-form-directive.js')
    script(src='/javascripts/directives/schedule-metric-form-directive.js')
    script(src='/javascripts/directives/metric-create-form-directive.js')
    script(src='/javascripts/directives/metric-record-form-directive.js')
    script(src='/javascripts/controllers/charts-controller.js')
    script(src='/javascripts/controllers/metric-record-controller.js')
    script(src='/javascripts/controllers/metric-create-controller.js')
    title= title
    link(rel='stylesheet', href='http://s1.rui.au.reastatic.net/rui-1.7.2/css/rui-all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
