form.metric-form
    div.form-item
        label Value
        input(ng-model="metric.metricValue")
        span.position-right {{settings.metricUnit}}
    div.form-item(ng-if="settings.metricTypes.length")
        label {{settings.metricTypeAlias || 'Type'}}
        select(ng-model="metric.metricType" ng-options="t for t in settings.metricTypes")
    div.form-item(ng-repeat="field in settings.fields")
        label {{field}}
        input(ng-model="metric[field]")
    div.form-item.confirm-buttons
        label
        button(class="submit" ng-click="submit()") Submit
        a(class="position-right cancel" ng-click="cancelMethod()") Cancel


