form.metric-form
    div(class="form-category")
        label Category
        select(ng-model="form.category" ng-options="c.category as c.display for c in categories")
    div
        label Name
        input(ng-model="form.metricName")
    div
        label Unit
        input(ng-model="form.metricUnit")
    div
        label Description
        input(ng-model="form.metricDesc")
    div
        label CountMethod
        select(ng-model="form.processMethod" ng-options="m.method as m.display for m in processMethods")
    div
        label Types
        input(ng-model="form.metricTypes" placeholder="type1;type2")
    div
        label Fields
        input(ng-model="form.fields" placeholder="field1;field2")
    schedule-metric-form(ng-if="form.category=='schedule'")
    div
        label TimeFrame
        select(ng-model="form.timeFrame" ng-options="f.frame as f.display for f in timeFrames")
        span(ng-if="form.timeFrame=='fortnight'")
            label from
            select(ng-model="form.startFrom" ng-options="m.startFrom as m.display for m in fortnightStartFrom")
    div.confirm-buttons
        button(ng-click="submit()") Submit
        button(ng-click="cancelMethod()") Close

