div.metrics.rui-clearfix
	div.container
		div.metric
			h2.metric-title Stories
			div.metric-content		
				div.left-part
					div.graph-header
						span 01/01/14 - 31/12/14
						div.filters
							span.active F
							span M
							span Y
					div.graph-body 
						//- include ./metric-general.jade
						include ./metric-chart.jade
				div.actions
					span.rui-icon.rui-icon-listview
					span.rui-icon.rui-icon-cog
					span.rui-icon.rui-icon-calendar
					span.rui-icon.rui-icon-link
					span.rui-icon.rui-icon-cog


		div.metric
			div a metric here
		div.metric
			div a metric here								
