table.records-table
    thead
        tr
            th Value
            th(ng-if="settings.metricTypes.length") {{settings.metricTypeAlias || 'Type'}}
            th(ng-repeat="field in settings.fields") {{field}}
            th Date
    tbody
        tr(ng-repeat="record in records" data-context-menu="templates/metric-record-context" ng-model="record")
            td {{record.metricValue}}
            td(ng-if="settings.metricTypes.length") {{record.metricType}}
            td(ng-repeat="field in settings.fields") {{record[field]}}
            td {{record.createdDate}}
