div.metrics.rui-clearfix
	div.container
		div.metric.mint-theme
			h2.metric-title Stories
			div.metric-content		
				div.left-part
					div.graph-header.sm-font
						span 01/01/14 - 31/12/14
						div.filters
							span.active F
							span M
							span Y
					div.graph-body 
						//- include ./metric-general.jade
						include ./metric-chart.jade
				div.actions
					span.rui-icon.rui-icon-listview
					span.icon-pie
					span.icon-stats.active
					span.icon-bars
					span.rui-icon.rui-icon-cog

		//- div.metric(ng-init="metricName='RecoveryTime'")
		//- 	metric-panel

		div.metric.yellow-theme
			h2.metric-title Stories
			div.metric-content		
				div.left-part
					div.graph-header.sm-font
						span 01/01/14 - 31/12/14
						div.filters
							span.active F
							span M
							span Y
					div.graph-body 
						include ./metric-general.jade
				div.actions
					span.rui-icon.rui-icon-listview
					span.icon-pie
					span.icon-stats.active
					span.icon-bars
					span.rui-icon.rui-icon-cog

		//- div.metric(ng-init="metricName='RecoveryTime'")
		//- 	metric-panel

		div.metric.orange-theme
			h2.metric-title Stories
			div.metric-content		
				div.left-part
					div.graph-header.sm-font
						span 01/01/14 - 31/12/14
						div.filters
							span.active F
							span M
							span Y
					div.graph-body 
						include ./metric-general.jade
						//- include ./metric-chart.jade
				div.actions
					span.rui-icon.rui-icon-listview
					span.icon-pie
					span.icon-stats.active
					span.icon-bars
					span.rui-icon.rui-icon-cog

		//- div.metric(ng-init="metricName='RecoveryTime'")
		//- 	metric-panel
