table.records-table
    thead
        tr
            th(ng-if="settings.metricTypes.length") Type
            th Value
            th(ng-repeat="field in settings.fields") {{field}}
            th CreatedDate
    tbody
        tr(ng-repeat="record in records")
            td(ng-if="settings.metricTypes.length") {{record.metricType}}
            td {{record.metricValue}}
            td(ng-repeat="field in settings.fields") {{record.fields[field]}}
            td {{record.createdDate}}
