form
    div(class="form-category")
        label MetricCategory
        select(ng-model="form.category" ng-options="c.category as c.display for c in categories")
    normal-metric-form(ng-if="form.category=='normal'")
    schedule-metric-form(ng-if="form.category=='schedule'")
    div
        button(ng-click="submit()") Submit
        button Close

