div
    div
        label MetricName
        input(name="metricName")
    div
        label MetricTypes
        input(name="metricType" placeholder="type1;type2")
    div
        label OtherFields
        input(name="fields" placeholder="field1;field2")
    div
        label TimeFrame
        select(name="timeFrame")
            option(value="day") Day
            option(value="week" selected) Week
            option(value="fortnight") Fortnight
            option(value="month") Month
