div
    div
        label MetricName
        input(ng-model="form.metricName")
    div
        label MetricUnit
        input(ng-model="form.metricUnit")
    div
        label MetricTypes
        input(ng-model="form.metricType" placeholder="type1;type2")
    div
        label OtherFields
        input(ng-model="form.fields" placeholder="field1;field2")
    div
        label TimeFrame
        select(ng-model="form.timeFrame" ng-options="frame for frame in timeFrames")
