div
    div
        label MetricName
        input(ng-model="form.metricName")
    div
        label MetricTypes
        input(ng-model="form.metricType" placeholder="type1;type2")
    div
        label API
        input(ng-model="form.metricType")
    div
        label Username
        input(ng-model="form.username")
    div
        label Password
        input(ng-model="form.password" type="password")
    div
        label JS Method
        textarea(ng-model='form.apiMethod' placeholder="function(apiResult) { return {metricType: 'type1', field1: 'A', field2: 'B'};}")
    div
        label Frequency(Cron)
        input(ng-model="form.frequency" placeholder="MIN HOUR DAY MONTH DAY-OF-WEEK")
    div
        label TimeFrame
        select(ng-model="form.timeFrame" ng-options="frame for frame in timeFrames")
