div
    div
        label API
        input(ng-model="form.api")
    div
        label Username
        input(ng-model="form.username")
    div
        label Password
        input(ng-model="form.password" type="password")
    div
        label JS Method
        textarea(ng-model='form.apiMethod' placeholder="function(apiResult, lastRecord) { return {metricValue: 1;}")
    div
        label Frequency
        input(ng-model="form.frequency" placeholder="MIN HOUR DAY MONTH DAY-OF-WEEK")
