#line-chart {
  width: 267px;
  margin: 0 auto; }

.rui-chart-mobile-legend {
  text-align: center;
  margin-top: 10px; }

.rui-chart-legend-item {
  display: inline-block;
  margin: 0 8px; }
  .rui-chart-legend-item .rui-chart-legend-label {
    font-size: 0.8em; }

body {
  padding-top: 0; }

p {
  margin: 0; }

.container {
  width: 80%;
  margin: 0 auto; }

header {
  background-color: #00beb3;
  color: white;
  padding: 10px 0;
  margin-bottom: 40px; }
  header .logo {
    font-size: 1.5em; }
  header .user {
    float: right;
    margin-top: -30px; }
    header .user a:first-child {
      margin-right: 20px; }
    header .user a {
      color: white;
      text-decoration: none; }

.metrics {
  margin-bottom: 150px; }

.metric {
  width: 31.333%;
  margin-right: 2%;
  float: left; }
  .metric .left-part {
    flex: 4; }
  .metric .metric-title {
    border: 1px solid #c3c8ce;
    margin: 0;
    border-bottom: 0;
    text-align: center;
    padding: 6px 0; }
  .metric .graph-header {
    font-size: 0.8em;
    padding: 6px; }
  .metric .filters {
    float: right;
    margin-right: 6px; }
    .metric .filters span {
      color: white;
      cursor: pointer;
      background-color: #00e6ac;
      border-right: 1px solid #c8c9c7;
      padding: 2px 6px; }
      .metric .filters span:last-child {
        border-right: none; }
      .metric .filters span.active {
        background-color: #00c694; }
  .metric .graph-body {
    text-align: center; }
  .metric .graph-body .content {
    width: 180px;
    margin: 0 auto;
    border: 3px solid #00c694;
    border-radius: 100%; }
  .metric .number {
    margin-top: 55px;
    line-height: 1em;
    font-size: 3em;
    color: #00c694; }
  .metric .description {
    font-size: 0.8em;
    color: #00c694; }
  .metric .metric-content {
    display: flex;
    border: 1px solid #c3c8ce; }
    .metric .metric-content .infomation {
      border-top: 1px solid #c3c8ce;
      font-size: 0.8em;
      padding: 8px; }
  .metric .actions {
    text-align: center;
    flex: 1;
    border-left: 1px solid #c3c8ce;
    font-size: 1.2em; }
    .metric .actions span.rui-icon {
      display: block;
      font-size: 1.5em;
      padding: 5px;
      border-bottom: 1px solid #c3c8ce;
      transition: all 0.3s; }
      .metric .actions span.rui-icon:last-child {
        border-bottom: none; }
      .metric .actions span.rui-icon:hover {
        color: #00c694; }
