.rui-chart-mobile-legend {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #c3c8ce; }

.rui-chart-legend-item {
  display: inline-block;
  margin: 0 8px; }
  .rui-chart-legend-item .rui-chart-legend-label {
    font-size: 0.8em; }

.chart .highcharts-title {
  font-size: 0.8em; }

header {
  background-color: #333f48;
  color: white;
  padding: 10px 0;
  margin-bottom: 20px; }
  header .logo {
    font-size: 1.5em; }
  header .user {
    float: right;
    margin-top: -30px; }
    header .user a:first-child {
      margin-right: 20px; }
    header .user a {
      color: white;
      text-decoration: none; }

header .container, .banner .container {
  padding: 0 1.5%;
  box-sizing: border-box; }

.banner .mission {
  font-weight: bold; }
.banner span {
  margin-right: 10px; }
.banner h2 {
  margin: 0; }
.banner .healthy-number {
  float: right;
  margin-top: -30px; }
  .banner .healthy-number .title {
    padding: 4px 10px;
    color: white;
    background-color: #00c694; }

@-webkit-keyframes my {
  0% {
    left: 50%;
    width: 0px;
    height: 0px; }

  100% {
    left: 0%;
    width: 180px;
    height: 180px; } }

@-moz-keyframes my {
  0% {
    left: 50%;
    width: 0px;
    height: 0px; }

  100% {
    left: 0%;
    width: 180px;
    height: 180px; } }

@keyframes my {
  0% {
    left: 50%;
    width: 0px;
    height: 0px; }

  100% {
    left: 0%;
    width: 180px;
    height: 180px; } }

.metric {
  width: 325px;
  height: 424px;
  margin: 15px;
  float: left; }
  .metric .left-part {
    flex: 4;
    min-width: 275px;
    height: 364px; }
  .metric .metric-title {
    border: 1px solid #c3c8ce;
    margin: 0;
    border-bottom: 0;
    text-align: center;
    padding: 6px 0;
    font-size: 30px; }
  .metric .graph-header {
    padding: 6px;
    height: 23px; }
  .metric .schedule-mark {
    float: left;
    margin: 2px 0;
    border: 1px solid;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 16px;
    display: block; }
  .metric .frame-range {
    display: block;
    float: left;
    margin: 2px 5px; }
  .metric .filters {
    float: right;
    margin-right: 6px; }
    .metric .filters span {
      color: white;
      cursor: pointer;
      background-color: #333;
      border-right: 1px solid #c8c9c7;
      padding: 2px 6px; }
      .metric .filters span:last-child {
        border-right: none; }
  .metric .graph-body {
    text-align: center;
    height: 329px;
    overflow-y: auto; }
  .metric .graph-body .content {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-top: 35px;
    position: relative; }
    .metric .graph-body .content .animation {
      position: absolute;
      top: -3px;
      left: -3px;
      height: 180px;
      width: 180px;
      border-radius: 100%;
      -webkit-animation: my 1s linear;
      -moz-animation: my 1s linear;
      animation: my 1s linear; }
  .metric .number {
    line-height: 1em;
    font-size: 3em; }
  .metric .unit {
    color: #666; }
  .metric .metric-value {
    padding-top: 55px; }
  .metric .metric-content {
    height: 364px;
    display: flex;
    border: 1px solid #c3c8ce; }
  .metric .metric-desc {
    border-top: 1px solid #c3c8ce;
    margin-top: 25px;
    padding: 10px 5px;
    font-size: 14px; }
  .metric .click-me {
    width: 100%;
    line-height: 346px;
    text-align: center;
    font-size: 30px;
    cursor: pointer; }
  .metric .actions {
    text-align: center;
    flex: 1;
    border-left: 1px solid #c3c8ce;
    font-size: 1.2em; }
    .metric .actions span {
      display: block;
      font-size: 1.5em;
      padding: 15px 0;
      border-bottom: 1px solid #c3c8ce;
      transition: all 0.3s; }
      .metric .actions span:last-child {
        border-bottom: none; }
  .metric .mm-icon {
    height: 30px;
    vertical-align: middle;
    line-height: 30px; }
    .metric .mm-icon.disabled {
      color: #c3c8ce; }
      .metric .mm-icon.disabled:hover {
        color: #c3c8ce; }
  .metric .records-table {
    width: 100%;
    margin: 0; }
    .metric .records-table thead tr {
      border-bottom: 1px solid #c3c8ce; }
    .metric .records-table th {
      text-align: center;
      font-weight: bold; }
    .metric .records-table tbody {
      font-size: 12px; }
    .metric .records-table tbody tr:nth-child(2n+1) {
      background-color: #E7E7E7; }
  .metric ul.metric-context-menu {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border: #c3c8ce solid 1px;
    padding: 5px 10px;
    width: 100px;
    text-align: left; }
    .metric ul.metric-context-menu li:hover {
      background: #c3c8ce; }
  .metric .metric-form {
    position: relative;
    width: 100%;
    height: 100%; }
    .metric .metric-form input {
      width: 155px; }
    .metric .metric-form .type-alias-input {
      width: 60px; }
  .metric .confirm-buttons {
    margin: 5px;
    text-align: center; }
    .metric .confirm-buttons button {
      margin: 0 5px; }

.red-theme.metric {
  box-shadow: #fb4047 0 0 4px 1px; }
.red-theme .number {
  color: #fb4047; }
.red-theme .filters span.active {
  background-color: #fb4047; }
.red-theme .graph-body .content .animation {
  border: 3px solid #fb4047; }
.red-theme .actions span:hover {
  color: #fb4047; }
.red-theme .actions span.active {
  color: #fb4047; }
.red-theme .records-table tbody tr:nth-child(2n+1) {
  background-color: rgba(251, 64, 71, 0.2); }

.orange-theme.metric {
  box-shadow: #fe9321 0 0 4px 1px; }
.orange-theme .number {
  color: #fe9321; }
.orange-theme .filters span.active {
  background-color: #fe9321; }
.orange-theme .graph-body .content .animation {
  border: 3px solid #fe9321; }
.orange-theme .actions span:hover {
  color: #fe9321; }
.orange-theme .actions span.active {
  color: #fe9321; }
.orange-theme .records-table tbody tr:nth-child(2n+1) {
  background-color: rgba(254, 147, 33, 0.2); }

.yellow-theme.metric {
  box-shadow: #ffb200 0 0 4px 1px; }
.yellow-theme .number {
  color: #ffb200; }
.yellow-theme .filters span.active {
  background-color: #ffb200; }
.yellow-theme .graph-body .content .animation {
  border: 3px solid #ffb200; }
.yellow-theme .actions span:hover {
  color: #ffb200; }
.yellow-theme .actions span.active {
  color: #ffb200; }
.yellow-theme .records-table tbody tr:nth-child(2n+1) {
  background-color: rgba(255, 178, 0, 0.2); }

.green-theme.metric {
  box-shadow: #00c694 0 0 4px 1px; }
.green-theme .number {
  color: #00c694; }
.green-theme .filters span.active {
  background-color: #00c694; }
.green-theme .graph-body .content .animation {
  border: 3px solid #00c694; }
.green-theme .actions span:hover {
  color: #00c694; }
.green-theme .actions span.active {
  color: #00c694; }
.green-theme .records-table tbody tr:nth-child(2n+1) {
  background-color: rgba(0, 198, 148, 0.2); }

.blue-theme.metric {
  box-shadow: #6FC7DB 0 0 4px 1px; }
.blue-theme .number {
  color: #6FC7DB; }
.blue-theme .filters span.active {
  background-color: #6FC7DB; }
.blue-theme .graph-body .content .animation {
  border: 3px solid #6FC7DB; }
.blue-theme .actions span:hover {
  color: #6FC7DB; }
.blue-theme .actions span.active {
  color: #6FC7DB; }
.blue-theme .records-table tbody tr:nth-child(2n+1) {
  background-color: rgba(111, 199, 219, 0.2); }

.indigo-theme.metric {
  box-shadow: #4a4aff 0 0 4px 1px; }
.indigo-theme .number {
  color: #4a4aff; }
.indigo-theme .filters span.active {
  background-color: #4a4aff; }
.indigo-theme .graph-body .content .animation {
  border: 3px solid #4a4aff; }
.indigo-theme .actions span:hover {
  color: #4a4aff; }
.indigo-theme .actions span.active {
  color: #4a4aff; }
.indigo-theme .records-table tbody tr:nth-child(2n+1) {
  background-color: rgba(74, 74, 255, 0.2); }

.violet-theme.metric {
  box-shadow: #93489a 0 0 4px 1px; }
.violet-theme .number {
  color: #93489a; }
.violet-theme .filters span.active {
  background-color: #93489a; }
.violet-theme .graph-body .content .animation {
  border: 3px solid #93489a; }
.violet-theme .actions span:hover {
  color: #93489a; }
.violet-theme .actions span.active {
  color: #93489a; }
.violet-theme .records-table tbody tr:nth-child(2n+1) {
  background-color: rgba(147, 72, 154, 0.2); }

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-1cbjs0');
  src: url('fonts/icomoon.eot?#iefix-1cbjs0') format('embedded-opentype'), url('fonts/icomoon.woff?-1cbjs0') format('woff'), url('fonts/icomoon.ttf?-1cbjs0') format('truetype'), url('fonts/icomoon.svg?-1cbjs0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pencil:before {
  content: "\e601"; }

.icon-library:before {
  content: "\e604"; }

.icon-user:before {
  content: "\e606"; }

.icon-users:before {
  content: "\e602"; }

.icon-quotes-left:before {
  content: "\e603"; }

.icon-search:before {
  content: "\e60f"; }

.icon-expand:before {
  content: "\e610"; }

.icon-pie:before {
  content: "\e616"; }

.icon-stats:before {
  content: "\e618"; }

.icon-bars:before {
  content: "\e600"; }

.icon-plus:before {
  content: "\e615"; }

.icon-twitter:before {
  content: "\e60b"; }

.icon-github:before {
  content: "\e60d"; }

.icon-forward:before {
  content: "\e612"; }

.icon-link:before {
  content: "\e613"; }

.icon-ellipsis:before {
  content: "\e614"; }

.icon-sina-weibo:before {
  content: "\e60e"; }

h1 {
  font-size: 2em; }

.team-container {
  width: 325px;
  left: 50%;
  margin-left: -200px;
  position: relative;
  margin-top: 100px; }
  .team-container .team {
    float: right;
    width: 170px; }
  .team-container .submit {
    margin-top: 15px;
    width: 100px;
    margin-left: 112px; }
    .team-container .submit input {
      width: 100%; }

body {
  padding-top: 0;
  min-height: 500px; }

p {
  margin: 0; }

.container {
  margin: 0 10px; }

.sm-font {
  font-size: 0.8em; }
