body {
  padding-top: 0; }

.container {
  width: 80%;
  margin: 0 auto; }

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  margin-bottom: 20px; }
  header .logo {
    font-size: 1.5em; }
  header .user {
    float: right;
    margin-top: -30px; }
    header .user a:first-child {
      margin-right: 20px; }
    header .user a {
      color: white;
      text-decoration: none; }

.metric {
  display: flex;
  width: 31.333%;
  margin-right: 2%;
  float: left; }
  .metric .left-part {
    flex: 4; }
  .metric img {
    width: 90%; }
  .metric .actions {
    flex: 1;
    font-size: 1.2em;
    padding-top: 50px; }
    .metric .actions span.rui-icon {
      display: block; }
