#line-chart {
  width: 267px;
  margin: 0 auto; }

.rui-chart-mobile-legend {
  text-align: center;
  margin-top: 10px; }

.rui-chart-legend-item {
  display: inline-block;
  margin: 0 8px; }
  .rui-chart-legend-item .rui-chart-legend-label {
    font-size: 0.8em; }

#pie-chart {
  width: 267px;
  margin: 0 auto; }

.chart .highcharts-title {
  font-size: 0.8em; }

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-1cbjs0');
  src: url('fonts/icomoon.eot?#iefix-1cbjs0') format('embedded-opentype'), url('fonts/icomoon.woff?-1cbjs0') format('woff'), url('fonts/icomoon.ttf?-1cbjs0') format('truetype'), url('fonts/icomoon.svg?-1cbjs0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pencil:before {
  content: "\e601"; }

.icon-library:before {
  content: "\e604"; }

.icon-user:before {
  content: "\e606"; }

.icon-users:before {
  content: "\e602"; }

.icon-quotes-left:before {
  content: "\e603"; }

.icon-search:before {
  content: "\e60f"; }

.icon-expand:before {
  content: "\e610"; }

.icon-pie:before {
  content: "\e616"; }

.icon-stats:before {
  content: "\e618"; }

.icon-bars:before {
  content: "\e600"; }

.icon-plus:before {
  content: "\e615"; }

.icon-twitter:before {
  content: "\e60b"; }

.icon-github:before {
  content: "\e60d"; }

.icon-forward:before {
  content: "\e612"; }

.icon-link:before {
  content: "\e613"; }

.icon-ellipsis:before {
  content: "\e614"; }

.icon-sina-weibo:before {
  content: "\e60e"; }

body {
  padding-top: 0; }

p {
  margin: 0; }

.container {
  width: 80%;
  margin: 0 auto; }

header {
  background-color: #00beb3;
  color: white;
  padding: 10px 0;
  margin-bottom: 40px; }
  header .logo {
    font-size: 1.5em; }
  header .user {
    float: right;
    margin-top: -30px; }
    header .user a:first-child {
      margin-right: 20px; }
    header .user a {
      color: white;
      text-decoration: none; }

.metrics {
  margin-bottom: 150px; }

.metric {
  width: 31.333%;
  min-width: 314px;
  margin-right: 2%;
  float: left; }
  .metric .left-part {
    flex: 4;
    min-width: 268px; }
  .metric .metric-title {
    border: 1px solid #c3c8ce;
    margin: 0;
    border-bottom: 0;
    text-align: center;
    padding: 6px 0; }
  .metric .graph-header {
    font-size: 0.8em;
    padding: 6px; }
  .metric .filters {
    float: right;
    margin-right: 6px; }
    .metric .filters span {
      color: white;
      cursor: pointer;
      background-color: #333;
      border-right: 1px solid #c8c9c7;
      padding: 2px 6px; }
      .metric .filters span:last-child {
        border-right: none; }
      .metric .filters span.active {
        background-color: #00c694; }
  .metric .graph-body {
    text-align: center;
    padding: 10px 0; }
  .metric .graph-body .content {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border: 3px solid #00c694;
    border-radius: 100%; }
  .metric .number {
    margin-top: 55px;
    line-height: 1em;
    font-size: 3em;
    color: #00c694; }
  .metric .description {
    font-size: 0.8em;
    color: #00c694; }
  .metric .metric-content {
    display: flex;
    border: 1px solid #c3c8ce; }
  .metric .metric-desc {
    border-top: 1px solid #c3c8ce;
    margin-top: 4px;
    padding: 10px 5px;
    font-size: 14px; }
  .metric .actions {
    text-align: center;
    flex: 1;
    border-left: 1px solid #c3c8ce;
    font-size: 1.2em; }
    .metric .actions span {
      display: block;
      font-size: 2em;
      padding: 10px 0;
      border-bottom: 1px solid #c3c8ce;
      transition: all 0.3s; }
      .metric .actions span:last-child {
        border-bottom: none; }
      .metric .actions span:hover {
        color: #00c694; }
      .metric .actions span.active {
        color: #00c694; }
